@charset "utf-8";

:root {
	color-scheme: light dark;
}

body {
	color: #000000;
	background-color: #ffffff;
}

@media screen and (prefers-color-scheme: dark) {
	body {
		color: #ffffff;
		background-color: #1c1c1e;
	}
}

table, th, td, tr {
	border: 1px solid #cccccc;
	font-family: -apple-system, -apple-system-font, sans-serif;
}

@media screen and (prefers-color-scheme: dark) {
	table, th, td, tr {
		border: 1px solid #49494b;
	}
}

table {
	border-collapse: collapse;
}

tr:first-child {
	font-weight: bold;
	background-color: #f2f2f7;
}

@media screen and (prefers-color-scheme: dark) {
	tr:first-child {
		background-color: #2c2c2e;
	}
}
