<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StoreInfos</key>
	<dict>
		<key>ae</key>
		<dict>
			<key>storeID</key>
			<string>143481</string>
		</dict>
		<key>am</key>
		<dict>
			<key>storeID</key>
			<string>143524</string>
		</dict>
		<key>ar</key>
		<dict>
			<key>storeID</key>
			<string>143505</string>
		</dict>
		<key>at</key>
		<dict>
			<key>storeID</key>
			<string>143445</string>
		</dict>
		<key>au</key>
		<dict>
			<key>storeID</key>
			<string>143460</string>
		</dict>
		<key>be</key>
		<dict>
			<key>storeID</key>
			<string>143446</string>
		</dict>
		<key>bg</key>
		<dict>
			<key>storeID</key>
			<string>143526</string>
		</dict>
		<key>br</key>
		<dict>
			<key>storeID</key>
			<string>143503</string>
		</dict>
		<key>bw</key>
		<dict>
			<key>storeID</key>
			<string>143525</string>
		</dict>
		<key>ca</key>
		<dict>
			<key>storeID</key>
			<string>143455</string>
		</dict>
		<key>ch</key>
		<dict>
			<key>storeID</key>
			<string>143459</string>
		</dict>
		<key>cl</key>
		<dict>
			<key>storeID</key>
			<string>143483</string>
		</dict>
		<key>cn</key>
		<dict>
			<key>storeID</key>
			<string>143465</string>
		</dict>
		<key>co</key>
		<dict>
			<key>storeID</key>
			<string>143501</string>
		</dict>
		<key>cr</key>
		<dict>
			<key>storeID</key>
			<string>143495</string>
		</dict>
		<key>cz</key>
		<dict>
			<key>storeID</key>
			<string>143489</string>
		</dict>
		<key>de</key>
		<dict>
			<key>dateStyle</key>
			<string>de</string>
			<key>storeID</key>
			<string>143443</string>
		</dict>
		<key>dk</key>
		<dict>
			<key>storeID</key>
			<string>143458</string>
		</dict>
		<key>do</key>
		<dict>
			<key>storeID</key>
			<string>143508</string>
		</dict>
		<key>ec</key>
		<dict>
			<key>storeID</key>
			<string>143509</string>
		</dict>
		<key>ee</key>
		<dict>
			<key>storeID</key>
			<string>143518</string>
		</dict>
		<key>eg</key>
		<dict>
			<key>storeID</key>
			<string>143516</string>
		</dict>
		<key>es</key>
		<dict>
			<key>storeID</key>
			<string>143454</string>
		</dict>
		<key>fi</key>
		<dict>
			<key>storeID</key>
			<string>143447</string>
		</dict>
		<key>fr</key>
		<dict>
			<key>dateStyle</key>
			<string>fr</string>
			<key>storeID</key>
			<string>143442</string>
		</dict>
		<key>gb</key>
		<dict>
			<key>storeID</key>
			<string>143444</string>
		</dict>
		<key>gr</key>
		<dict>
			<key>storeID</key>
			<string>143448</string>
		</dict>
		<key>gt</key>
		<dict>
			<key>storeID</key>
			<string>143504</string>
		</dict>
		<key>hk</key>
		<dict>
			<key>storeID</key>
			<string>143463</string>
		</dict>
		<key>hn</key>
		<dict>
			<key>storeID</key>
			<string>143510</string>
		</dict>
		<key>hr</key>
		<dict>
			<key>storeID</key>
			<string>143494</string>
		</dict>
		<key>hu</key>
		<dict>
			<key>storeID</key>
			<string>143482</string>
		</dict>
		<key>id</key>
		<dict>
			<key>storeID</key>
			<string>143476</string>
		</dict>
		<key>ie</key>
		<dict>
			<key>storeID</key>
			<string>143449</string>
		</dict>
		<key>il</key>
		<dict>
			<key>storeID</key>
			<string>143491</string>
		</dict>
		<key>in</key>
		<dict>
			<key>storeID</key>
			<string>143467</string>
		</dict>
		<key>it</key>
		<dict>
			<key>dateStyle</key>
			<string>it</string>
			<key>storeID</key>
			<string>143450</string>
		</dict>
		<key>jm</key>
		<dict>
			<key>storeID</key>
			<string>143511</string>
		</dict>
		<key>jo</key>
		<dict>
			<key>storeID</key>
			<string>143528</string>
		</dict>
		<key>jp</key>
		<dict>
			<key>storeID</key>
			<string>143462</string>
		</dict>
		<key>ke</key>
		<dict>
			<key>storeID</key>
			<string>143529</string>
		</dict>
		<key>kr</key>
		<dict>
			<key>storeID</key>
			<string>143466</string>
		</dict>
		<key>kw</key>
		<dict>
			<key>storeID</key>
			<string>143493</string>
		</dict>
		<key>kz</key>
		<dict>
			<key>storeID</key>
			<string>143517</string>
		</dict>
		<key>lb</key>
		<dict>
			<key>storeID</key>
			<string>143497</string>
		</dict>
		<key>lk</key>
		<dict>
			<key>storeID</key>
			<string>143486</string>
		</dict>
		<key>lt</key>
		<dict>
			<key>storeID</key>
			<string>143520</string>
		</dict>
		<key>lu</key>
		<dict>
			<key>storeID</key>
			<string>143451</string>
		</dict>
		<key>lv</key>
		<dict>
			<key>storeID</key>
			<string>143519</string>
		</dict>
		<key>md</key>
		<dict>
			<key>storeID</key>
			<string>143523</string>
		</dict>
		<key>mg</key>
		<dict>
			<key>storeID</key>
			<string>143531</string>
		</dict>
		<key>mk</key>
		<dict>
			<key>storeID</key>
			<string>143530</string>
		</dict>
		<key>ml</key>
		<dict>
			<key>storeID</key>
			<string>143532</string>
		</dict>
		<key>mo</key>
		<dict>
			<key>storeID</key>
			<string>143515</string>
		</dict>
		<key>mt</key>
		<dict>
			<key>storeID</key>
			<string>143521</string>
		</dict>
		<key>mu</key>
		<dict>
			<key>storeID</key>
			<string>143533</string>
		</dict>
		<key>mx</key>
		<dict>
			<key>storeID</key>
			<string>143468</string>
		</dict>
		<key>my</key>
		<dict>
			<key>storeID</key>
			<string>143473</string>
		</dict>
		<key>ne</key>
		<dict>
			<key>storeID</key>
			<string>143534</string>
		</dict>
		<key>ni</key>
		<dict>
			<key>storeID</key>
			<string>143512</string>
		</dict>
		<key>nl</key>
		<dict>
			<key>storeID</key>
			<string>143452</string>
		</dict>
		<key>no</key>
		<dict>
			<key>storeID</key>
			<string>143457</string>
		</dict>
		<key>nz</key>
		<dict>
			<key>storeID</key>
			<string>143461</string>
		</dict>
		<key>pa</key>
		<dict>
			<key>storeID</key>
			<string>143485</string>
		</dict>
		<key>pe</key>
		<dict>
			<key>storeID</key>
			<string>143507</string>
		</dict>
		<key>ph</key>
		<dict>
			<key>storeID</key>
			<string>143474</string>
		</dict>
		<key>pk</key>
		<dict>
			<key>storeID</key>
			<string>143477</string>
		</dict>
		<key>pl</key>
		<dict>
			<key>storeID</key>
			<string>143478</string>
		</dict>
		<key>pt</key>
		<dict>
			<key>storeID</key>
			<string>143453</string>
		</dict>
		<key>py</key>
		<dict>
			<key>storeID</key>
			<string>143513</string>
		</dict>
		<key>qa</key>
		<dict>
			<key>storeID</key>
			<string>143498</string>
		</dict>
		<key>ro</key>
		<dict>
			<key>storeID</key>
			<string>143487</string>
		</dict>
		<key>ru</key>
		<dict>
			<key>storeID</key>
			<string>143469</string>
		</dict>
		<key>sa</key>
		<dict>
			<key>storeID</key>
			<string>143479</string>
		</dict>
		<key>se</key>
		<dict>
			<key>storeID</key>
			<string>143456</string>
		</dict>
		<key>sg</key>
		<dict>
			<key>storeID</key>
			<string>143464</string>
		</dict>
		<key>si</key>
		<dict>
			<key>storeID</key>
			<string>143499</string>
		</dict>
		<key>sk</key>
		<dict>
			<key>storeID</key>
			<string>143496</string>
		</dict>
		<key>sn</key>
		<dict>
			<key>storeID</key>
			<string>143535</string>
		</dict>
		<key>sv</key>
		<dict>
			<key>storeID</key>
			<string>143506</string>
		</dict>
		<key>th</key>
		<dict>
			<key>storeID</key>
			<string>143475</string>
		</dict>
		<key>tn</key>
		<dict>
			<key>storeID</key>
			<string>143536</string>
		</dict>
		<key>tr</key>
		<dict>
			<key>storeID</key>
			<string>143480</string>
		</dict>
		<key>tw</key>
		<dict>
			<key>storeID</key>
			<string>143470</string>
		</dict>
		<key>ug</key>
		<dict>
			<key>storeID</key>
			<string>143537</string>
		</dict>
		<key>us</key>
		<dict>
			<key>dateStyle</key>
			<string>us</string>
			<key>storeID</key>
			<string>143441</string>
		</dict>
		<key>uy</key>
		<dict>
			<key>storeID</key>
			<string>143514</string>
		</dict>
		<key>ve</key>
		<dict>
			<key>storeID</key>
			<string>143502</string>
		</dict>
		<key>vn</key>
		<dict>
			<key>storeID</key>
			<string>143471</string>
		</dict>
		<key>za</key>
		<dict>
			<key>storeID</key>
			<string>143472</string>
		</dict>
	</dict>
</dict>
</plist>
