<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ae</string>
	<string>am</string>
	<string>ar</string>
	<string>at</string>
	<string>au</string>
	<string>be</string>
	<string>bg</string>
	<string>br</string>
	<string>bw</string>
	<string>ca</string>
	<string>ch</string>
	<string>cl</string>
	<string>cn</string>
	<string>co</string>
	<string>cr</string>
	<string>cz</string>
	<string>de</string>
	<string>dk</string>
	<string>do</string>
	<string>ec</string>
	<string>ee</string>
	<string>eg</string>
	<string>es</string>
	<string>fi</string>
	<string>fr</string>
	<string>gb</string>
	<string>gr</string>
	<string>gt</string>
	<string>hk</string>
	<string>hn</string>
	<string>hr</string>
	<string>hu</string>
	<string>id</string>
	<string>ie</string>
	<string>il</string>
	<string>in</string>
	<string>it</string>
	<string>jm</string>
	<string>jo</string>
	<string>jp</string>
	<string>ke</string>
	<string>kr</string>
	<string>kw</string>
	<string>kz</string>
	<string>lb</string>
	<string>lk</string>
	<string>lt</string>
	<string>lu</string>
	<string>lv</string>
	<string>md</string>
	<string>mg</string>
	<string>mk</string>
	<string>ml</string>
	<string>mo</string>
	<string>mt</string>
	<string>mu</string>
	<string>mx</string>
	<string>my</string>
	<string>ne</string>
	<string>ni</string>
	<string>nl</string>
	<string>no</string>
	<string>nz</string>
	<string>pa</string>
	<string>pe</string>
	<string>ph</string>
	<string>pk</string>
	<string>pl</string>
	<string>pt</string>
	<string>py</string>
	<string>qa</string>
	<string>ro</string>
	<string>ru</string>
	<string>sa</string>
	<string>se</string>
	<string>sg</string>
	<string>si</string>
	<string>sk</string>
	<string>sn</string>
	<string>sv</string>
	<string>th</string>
	<string>tn</string>
	<string>tr</string>
	<string>tw</string>
	<string>ug</string>
	<string>us</string>
	<string>uy</string>
	<string>ve</string>
	<string>vn</string>
	<string>za</string>
</array>
</plist>
