[submodule "Vendor/ZIPArchive"]
	path = Vendor/ZIPArchive
	url = https://github.com/nicolasgomollon/ZIPArchive.git
[submodule "Vendor/MBProgressHUD"]
	path = Vendor/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "Vendor/SAMKeychain"]
	path = Vendor/SAMKeychain
	url = https://github.com/nicolasgomollon/SAMKeychain.git
[submodule "Vendor/FFGlobalAlertController"]
	path = Vendor/FFGlobalAlertController
	url = https://github.com/agilityvision/FFGlobalAlertController.git
[submodule "Vendor/FlagKit"]
	path = Vendor/FlagKit
	url = https://github.com/nicolasgomollon/FlagKit.git
